@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap");

.button-container {
  background-color: blue;
  width: 50%;
  margin: auto;
  padding: 10px;
  font-family: "Montserrat";
}

.main-container button {
  padding: 5px 0px 5px 0px;
  width: 50%;
  font-family: "Montserrat";
  display: block;
  background-color: #f1faee;
  color: #1d3557;
  display: block;
  margin: auto;
  border-radius: 5px;
  font-size: 1.5rem;
  border-color: transparent;
  margin-top: 1.5rem;
}

.main-container button:hover,
.main-container button:active {
  background-color: #a8dadc;
  border-color: #1d3557;
}

.spacer {
  width: 5%;
}
