@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap");

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #457b9d;
  color: white;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  font-family: "Montserrat";
}

.logout-button {
  font-family: "Montserrat";
  background-color: #f1faee;
  color: #1d3557;
  border-radius: 5px;
  font-size: 1.5rem;
  border-color: transparent;
  display: block;
  align-self: flex-end;
}
.logout-button:hover,
.logout-button:active {
  background-color: #a8dadc;
  border-color: #1d3557;
}

.right {
  margin-top: auto;
  margin-bottom: auto;

  text-align: center;
  justify-content: center;
}
