.item-container {
  width: 20%;
  text-align: start;
  overflow: hidden;
}

.item-container-centre {
  width: 20%;
  text-align: center;
  overflow: hidden;
}

.item-container-right {
  width: 20%;
  text-align: end;
  overflow: hidden;
}
