.main-container {
  background-color: red;
  width: 100%;
  margin: 8rem 1rem 1rem 1rem;
  padding: 0;

  display: flex;
  flex-direction: flex-start;
  flex-wrap: wrap;
}

.button-container {
  background-color: blue;
  width: 50%;
  margin: auto;
  padding: 10px;
}
