@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap");

body {
  background: #f1faee;
  font-family: "Montserrat";
}

button {
  font: inherit;
  background-color: #240370;
  color: white;
  border: 1px solid #240370;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.marginT {
  height: 100px;
}

.main-container {
  margin: 0 15% 0 15%;
  justify-self: center;
  justify-content: center;
}

h1 {
  font-family: "Montserrat";
  text-align: center;
}

button:hover,
button:active {
  background-color: #a8dadc;
  border-color: #1d3557;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: rgb(100, 100, 100);
  border-color: #ccc;
  cursor: not-allowed;
}
