@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap");

.form {
  margin: auto;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form-control input {
  width: 75%;
}

.form-control input:focus {
  outline: none;
  border-color: #1d3557;
  background-color: #a8dadc;
}

.control-group {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.hidden-form button {
  width: 50%;
}

.select-group select {
  width: 75%;
}

/* Div and buttons for hiding / submitting form */
.button-group {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.button-group button {
  width: 25%;
  margin-top: 1.5rem;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
  color: #e63946;
  font-family: "Montserrat";
  margin-top: 3px;
}
